# Secret files
.env
**/.env

# Node dependencies
node_modules/
**/node_modules/

# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/
# ML model large files
ml_model/*.pkl
ml_model/*.csv
__pycache__/
**/__pycache__/
